@use "sass:color";

/* VARS */
$color_TI: #009fe2;
$color_TI_darker: color.adjust(#0079ca, $lightness: -15%);
$color_red: #e51f5c;

/* HEADER */

#iw-nav {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
  padding: 7px 25px;
  .navbar-brand {
    img {
      height: 40px;
    }
  }
  a {
    font-weight: 600;
    font-size: 15px;
    color: $color_TI;
    transition: .4s all;
    text-transform: uppercase;
    &:hover {
      color: #000;
    }
    &.active {
      color: #000;
      font-weight: 800;
    }
    @media only screen and (min-width: 1400px) {
      font-size: 15px;
      padding-left: 10px;
      font-weight: 600;
      padding-right: 20px;
      text-transform: uppercase;
      letter-spacing: 0;
    }
  }
  .red-link {
    color: #d30066;
    margin: 0 10px;
    vertical-align: middle;
  }
  .dropdown-menu-iwlist {
    .dropdown-item {
      font-size: 14px;
      @media only screen and (min-width: 992px) {
        color: #000;
        &:hover {
          color: $color_TI_darker;
        }
      }
    }
  }
  .nav-link-about {
    @media only screen and (min-width: 992px) {
      border-radius: 50px;
      font-size: 14px;
      vertical-align: middle;
      font-weight: 800;
      background: #3b95d0;
      color: #fff;
      padding: 5px 15px;
      position: relative;
      top: 0px;
      transition: .4s all;
      &:hover, &:active {
        color: #fff;
        background: $color_TI_darker;
      }
    }
  }
  .nav-link-language-container {
    text-align: center;
    margin-bottom: 15px;
    @media only screen and (min-width: 992px) {
      margin-left: 15px;
      margin-bottom: 0;
    }
  }
  .nav-link-language {
    display: inline-block;
    border: none;
    padding: 2px 10px;
    vertical-align: middle;
    margin: 0 5px;
    font-weight: 800;
    font-size: 13px;
    position: relative;
    top: 2px;
    background: #ddd;
    cursor: pointer;
    &.active {
      color: #000;
    }
  }
  .icon-btn {
    vertical-align: middle;
    cursor: pointer;
    &.info-btn {
      color: $color_TI;
      &.active {
        color: $color_TI_darker;
      }
    }
    &.share-btn {
      color: $color_TI;
      &.active {
        color: $color_TI_darker;
      }
    }
  }
  &.dark-header {
    background-color: $color_TI_darker;
    a {
      color: #ccc;
      &.active, &:hover {
        color: #fff;
      }
    }
    .nav-link-about {
      @media only screen and (min-width: 992px) {
        background: #fff;
        color: $color_TI_darker;
        &:hover, &:active {
          background: #ccc;
          color: $color_TI_darker;
        }
      }
    }
    .icon-btn {
      &.info-btn {
        color: $color_TI;
        &.active {
          color: $color_TI_darker;
        }
      }
      &.share-btn {
        color: $color_TI;
        &.active {
          color: $color_TI_darker;
        }
      }
    }
    .dropdown-menu {
      @media only screen and (max-width: 992px) {
        background: none !important;
      }
    }
    .dropdown-item:focus, .dropdown-item:hover {
      background: none !important;
    }
  }
}

/* TOP DESCRIPTION BOX */
.top-description-container {
  background-size: cover;
  background-position: left top;
  background: #009fe2;
  background: linear-gradient(45deg,#009fe2,#014aa5);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#009fe2",endColorstr="#014aa5",GradientType=1);
  .top-description-content {
    max-width:1600px;
    margin:0 auto;
    color: #fff;
    text-align: left;
    padding: 30px 70px 20px 30px;
    position: relative;
    h1 {
      font-size: 20px;
      margin-bottom: 0px;
      font-family: "Oswald", sans-serif;
      font-weight: 600;
      letter-spacing: 1px;
      @media only screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
    h2 {
      font-size: 50px;
      font-family: "Oswald", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .read-more-link {
      background: none;
      border: none;
      color: #fff;
      text-decoration: underline;
      padding: 0;
      margin: 0;
    }
    .top-description-text {
      //max-width: 1000px;
      max-width: 100%;
    }
    .close-btn {
      position: absolute;
      top: 20px;
      right: 30px;
      cursor: pointer;
      @media only screen and (min-width: 1600px) {
        display: none;
      }
    }
    .read-more-btn {
      background: rgba(255,255,255,1);
      border-radius: 0px;
      display: inline-block;
      margin-top: 10px;
      margin-bottom: 14px;
      margin-right: 7px;
      padding: 4px 10px;
      color: color.adjust($color_TI, $lightness: -30%);
      font-weight: 600;
      text-decoration: none;
      transition: .4s all;
      cursor: pointer;
      &:hover {
        background: rgba(255,255,255,0.6);
      }
    }
    .topbox-buttons-container {
      margin-top: 20px;
    }
  }
}

/* Social share buttons for top area and modals */
.social-share-btn, .topbox-modal-btn {
  //border: none;
  border: 1px solid #000;
  background: rgba(255,255,255,1);
  border-radius: 30px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 14px;
  margin-right: 7px;
  padding: 4px 15px;
  color: color.adjust($color_TI, $lightness: -30%);
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  transition: .4s all;
  cursor: pointer;
  @media only screen and (max-width: 650px) {
    display: block;
    text-align: left;
    width: 200px;
  }
  &.chart-share-btn {
    border: 1px solid #000;
    font-size: 12px;
    margin: 5px 2px;
    vertical-align: middle;
    @media only screen and (max-width: 650px) {
      display: block;
      margin: 5px auto;
      text-align: center;
      width: 200px;
    }
  }
  &:hover {
    background: rgba(255,255,255,0.6);
  }
  &.twitter-btn {
    img {
      margin: 0 6px 0 0;
      height: 16px;
      position: relative;
      top: -1px;
    }
  }
  &.facebook-btn {
    img {
      margin: 0 8px 0 0;
      height: 18px;
      position: relative;
      top: -1px;
    }
  }
  &.linkedin-btn {
    img {
      margin: 0 8px 0 0;
      height: 18px;
      position: relative;
      top: -0.5px;
    }
  }
  &.bluesky-btn {
    img {
      margin: 0 8px 0 0;
      height: 18px;
      position: relative;
      top: -0.5px;
    }
  }
}
.topbox-modal-btn {
  border: none;
  font-size: 14px;
  i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

/* MAIN & CHARTS */

.dashboard-container-outer {
  max-width: 1600px;
  //padding: 0 30px;
  @media only screen and (max-width: 1025px) {
    padding: 0;
  }
}
.dashboard-container {
  margin: 20px auto 0 auto;
  padding-bottom: 100px;
}
.boxed-container {
  background: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
  width: 100%;
  overflow: hidden;
}
.description-container {
  background: color.adjust($color_TI, $lightness: -10%);
  color: #fff;
  text-align: left;
  padding: 30px 70px 20px 20px;
  position: relative;
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  a {
    color: color.adjust($color_TI, $lightness: -30%);
    font-weight: 600;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
.share-container {
  padding: 20px;
  background: #fafafa;
  position: relative;
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #2c3e50;
  }
  button {
    border: none;
    color: #fff;
    display: inline-block;
    margin: 5px 5px;
    padding: 10px;
    border-radius: 2px;
    width: 160px;
    max-width: 90%;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    &.twitter-btn {
      background: #1da1f2;
      &:hover {
        background: #0d91e2;
      }
    }
    &.facebook-btn {
      background: #3b5998;
      &:hover {
        background: #2b4988;
      }
    }
  }
}
.chart-subrow {
  margin: 0;
  padding: 0;
  .chart-subrow-row {
    margin: 0;
    padding: 0;
  }
}
.subrow-title-container {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  &.subrow-title-container-right {
    text-align: right;
  }
  .subrow-title {
    display: inline-block;
    text-align: left;
    color: #456c8d;
    border-radius: 2px;
    font-size: 24px;
    font-weight: 800;
    width: auto;
    padding: 5px 0px;
    &.subrow-title-right {
      text-align: right;
      color: $color_red;
    }
  }
}
.chart-col {
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
.chart-container {
  padding: 0px;
  .chart-inner {
    width: 100%;
    padding: 20px;
    &.chart-table {
      padding: 0;
    }
  }
  &.chart-container-table {
    height: auto;
  }
  &.section1_chart_row1 {
    height: 610px;
  }
  &.section1_chart_row2 {
    height: 470px;
  }
  &.section2_chart_row1 {
    height: 370px;
  }
  &.section2_chart_row2 {
    height: 420px;
  }
  &.section2_chart_row3a {
    height: 450px;
  }
  &.section2_chart_row3 {
    height: 470px;
  }
  &.section2_chart_row4 {
    height: 450px;
  }
  &.section3_chart_row1 {
    height: 370px;
  }
  &.section3_chart_row2 {
    height: 600px;
  }
  &.section3_chart_row3 {
    height: 430px;
  }
  @media only screen and (max-width: 767px) {
    height: auto !important;
  }
}

/* FOOTER BAR */ 

.footer-bar {
  background: color.adjust($color_TI, $lightness: -5%);
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0px -2px 2px rgba(0,0,0,0.1); 
  z-index: 10000;
  padding: 0 25px;
  .footer-col {
    height: 66px;
  }
  .footer-input {
    //position: absolute;
    position: relative;
    top: 50%;
    left: 0px;
    float: left;
    //width: 80%;
    margin-left: 10px;
    width: 300px;
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    i {
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 10px;
      color: #fff;
      font-size: 30px;
      -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    }
    input {
      width: 100%;
      border-radius: 60px;
      background: #105a8c;
      border: none;
      padding: 10px 10px 10px 50px;
      font-size: 16px;
      color: #fff;
      &:focus {
        outline-color: #fff;
      }
      &::placeholder {
        color: #fff;
        @media only screen and (max-width: 767px) {
          opacity: 0;
        }
      }
    }
  }
  .footer-counts {
    color: #fff;
    fill: #fff;
    @media only screen and (max-width: 767px) {
      display: none;
    }
    .count-box {
      margin: 0 5px 0 0;
      background: rgba(255,255,255,0.1);
      padding: 5px 10px;
      height: 100%;
      width: 170px;
      font-size: 13px;
      line-height: 110%;
      float: left;
      &.count-box-lobbyists, &.count-box-accred {
        @media only screen and (max-width: 1280px) {
          display: none;
        }
      }
      &.count-box-published-meetings {
        width: 200px;
      }
      .filter-count {
        color: $color_TI_darker;
        font-size: 24px;
        font-weight: 800;
        display:block;
        margin: 7px auto 10px auto;
      }
      .total-count {
        color: #fff;
      }
    }
  }
  .reset-btn {
    position: absolute;
    right: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    border: none;
    border-radius: 60px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    background: color.adjust(#e51f40, $lightness: 5%);
    transition: all .4s;
    &:hover, &:focus, &.active {
      background: color.adjust(#e51f40, $lightness: -5%);
      outline: none;
    }
    .reset-btn-text {
      font-weight: 700;
      font-size: 15px;
      line-height: 26px;
      text-transform: uppercase;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    i {
      vertical-align: middle;
      margin-right: 10px;
      @media only screen and (max-width: 767px) {
        margin-right: 0;
      }
    }
  }
}

/* NOTICE MODAL */
#noticeModal {
  z-index: 10001;
  .modal-dialog {
    width: 700px;
    max-width: 95%;
    margin: 80px auto 0 auto;
  }
  .modal-content {
    border-radius: 0px;
  }
  .modal-title {
    color: #e53a5b;
    font-weight: 700;
  }
  .modal-body {
    text-align: left;
  }
}

/* MODAL */

.modal-open {
  padding-right: 0 !important;
}
#detailsModal, #tendersDetailsModal {
  padding: 0 10px !important;
  z-index: 10000;
  .modal-dialog {
    max-width: 1000px;
  }
  .modal-content {
    border-radius: 0px;
  }
  .modal-header {
    padding: 20px 20px;
  }
  .modal-body {
    padding: 20px 10px 30px 10px;
  }
  .modal-title {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 21px;
    .date {
      margin: 0 auto;
      font-weight: 700;
    }
    .subject {
      margin: 0 auto;
    }
  }
  .mep-photo {
    max-width: 100%;
  }
  .details-title {
    display: inline-block;
    color: #fff;
    border-radius: 0px;
    font-size: 18px;
    font-weight: 700;
    width: auto;
    padding: 15px 20px;
    width: 100%;
    margin-bottom: 10px;
    &.details-title-left {
      text-align: center;
      background: #456c8d;
    }
    &.details-title-right {
      text-align: center;
      background: $color_red;
    }
  }
  .details-left {
    text-align: left;
    &.details-title-left {
      
    }
  }
  .details-right {
    text-align: left;
    a {
      font-weight: 600;
      color: $color_red;
    }
  }
  .details-line {
    font-size: 14px;
    padding: 5px 0;
    a {
      color: #456c8d;
    }
    .details-line-title {
      font-weight: 700;
    }
  }
  .modal-activities-title {
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0 20px 0;
    color: #2e7db0;
  }
  .modal-activities-subtitle {
    text-align: left;
    font-weight: 600;
    margin-top: 10px;
  }
  .modal-activities-row {
    .modal-activities-left {
      text-align: left;
    }
    .modal-activities-right {
      text-align: right;
    }
  }
  .modal-gea-container {
    margin: 20px auto;
  }
  .regprojects-section-title {
    text-align: left;
    font-weight: 700;
    margin: 15px 0;
  }
  .regprojects-container-outer {
    border-top: 1px solid #eee;
    margin-top: 20px;
  }
  .regprojects-container {
    background: #f5f6f7;
    text-align: left;
    margin-bottom: 10px;
    padding: 15px;
    .regproject-title {
      font-weight: 700;
      font-size: 14px;
    }
    .regproject-desc {
      font-size: 13px;
    }
    .regproject-subtitle {
      font-weight: 700;
      font-size: 14px;
      margin-top: 10px;
    }
    .regproject-laws {
      margin: 0;
      li {
        font-size: 13px;
        font-weight: 400;
      }
    }
    .regproject-statements {
      font-size: 13px;
      margin: 0;
      li {
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
}
#tendersDetailsModal {
  .modal-dialog {
    max-width: 700px;
  }
}

/* CSS edits for plugins and libraries */

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #e0e2e6;;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.dc-chart g.row text {
  fill: #000;
}
.dc-chart .selected path, .dc-chart .selected circle {
  stroke: #fff;
  stroke-width: 5;
}
.pie-label {
  //display: none;
}
.lineLabel {
    font-size: 12px;
    font-weight: 700;
}
.dc-chart svg:not(:root) {
    overflow: visible;
}
.dc-chart g.row text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  fill: #333;
  font-size: 13px;
}
.dc-legend .dc-legend-item {
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    fill: #333;
    font-size: 13px;
}

/* DATATABLES */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 30px;
}
table.dataTable thead .sorting {
  background-image: url("../../public/images/dt/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("../../public/images/dt/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../../public/images/dt/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../../public/images/dt/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../../public/images/dt/sort_desc_disabled.png");
}
.table-header-meetings-org {
  min-width: 250px;
}
.table-header-organisations-expense {
  min-width: 220px;
}
.table.dc-data-table{
  margin-bottom: 0;
}
.dataTables_wrapper {
  @media only screen and (max-width: 1500px) {
    overflow-x: scroll;
  }
  th {
    color: $color_TI;
    text-align: left;
    font-size: 14px;
    @media only screen and (max-width: 1500px) {
      font-size: 12px;
    }
  }
  td {
    text-align: left;
    font-size: 14px;
    @media only screen and (max-width: 1500px) {
      font-size: 13px;
    }
  }
  .dt-center {
    text-align: center;
  }
  .dt-right {
    text-align: right;
  }
  .dataTables_info {
    width: 40%;
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 30px;
    float: left;
  }
  .dataTables_paginate {
    width: 40%;
    display: inline-block;
    float: right;
    text-align: right;
    padding: 30px;
    .paginate_button {
      background: #fff;
      color: #2c3e50 !important;
      border: none;
      border-radius: 2px;
      padding: 5px 10px;
      margin: 0 2px;
      cursor: pointer;
      text-decoration: none;
      &.current, &:hover, &:active, &:focus {
        background: $color_TI;
        color: #fff !important;
      }
      &.previous, &.next {

      }
    }
  }
  .dataTables_length {
    width: 20%;
    display: inline-block;
    padding: 30px 0;
  }
}
table.dataTable tbody tr.odd {
  background: #fafafa;
}
table.dataTable tbody tr.even {
  background: #f5f5f5;
}
table.dataTable tbody tr:hover {
  cursor: pointer;
  background: #eee;
}
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  //background: rgba(0, 159, 226, 0.2);
}
table.dataTable .sorting_1 {
  //background: rgba(0, 159, 226, 0.1);
}
.table-link-icon {
  img {
    width: 24px;
    text-align: center;
    vertical-align: middle;
  }
}
//Style for non clickable rows
table.dataTable.nonclickable tbody tr:hover {
    cursor: default !important;
    //background: #eee;
}
.table-small-text {
  th, td {
    font-size: 13px !important;
    max-width: 220px;
  }
}
/* MODAL TABLE */

.modal-table-title {
    font-weight: 600;
    text-align: left;
    margin: 20px 0 10px 0;
  }
  .modal-table {
    width: 100%;
    thead {
      tr {
        th {
          background:#2e7db0;
          color: #fff;
          padding: 5px 10px;
          border: 2px solid #fff;
          font-weight: 500;
          font-size: 14px;
          &.left {
            text-align: left;
          }
          &.right {
            text-align: right;
          }
        }
      }
    }
    tbody {
      tr {
        padding: 0;
        &:nth-child(even) {
          background: #fafafa;
        }
        &:nth-child(odd) {
          background: #f4f4f4;
        }
        td {
          padding: 5px 10px;
          border: 2px solid #fff;
          font-size: 13px;
          &.left {
            text-align: left;
          }
          &.right {
            text-align: right;
          }
        }
      }
    }
  }

/* POPOVER */

.popover {
  background-color: $color_TI_darker;
  border: none;
  border-radius: 2px;
}
.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after {
  border-bottom-color: $color_TI_darker;
}
.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after {
  border-top-color: $color_TI_darker;
}
.popover-body {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  a {
    color: #eee;
    text-decoration: underline;
  }
}

/* Country select */
.countryselect-container {
  select {
    padding: 10px;
    width: 100%;
    background: #eee;
    border: none;
  }
}

/* Mobile changes for tables */
.chart-table {
  table {
    @media only screen and (max-width: 768px) {
      word-wrap:break-word;
      table-layout: fixed;
    }
  }
  td, th {
    @media only screen and (max-width: 768px) {
      font-size: 14px;
      vertical-align: middle !important;
    }
  }
  .dataTables_info, .dataTables_paginate, .dataTables_length {
    @media only screen and (max-width: 768px) {
      font-size: 14px;
      padding: 10px;
      width: 100%;
      float: none;
      text-align: center;
    }
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 5px;
  }
}

/* MAIN PAGE STYLE */

.section1-page {
  #detailsModal, #tendersDetailsModal {
    a {
      color: color.adjust($color_TI, $lightness: 0%);
      font-weight: 600;
    }
    .modal-title {
      font-weight: 700;
      color: color.adjust($color_TI, $lightness: 0%);
    }
    .details-line {
      text-align: left;
    }
  }
  .chart-table {
    td, th {
      &:nth-child(1), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(8) {
        @media only screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

/* Version select buttons */
.version-select-container {
  text-align: left;
  padding-left: 5px;
  .link-button {
    border: none;
    color: #fff;
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 10px;
    border-radius: 2px;
    width: auto;
    max-width: 90%;
    font-size: 15px;
    font-weight: 700;
    //text-transform: uppercase;
    cursor: pointer;
    background-color: #aaa;
    text-decoration: none;
    transition: all .4s;
    &:hover {
      color: #fff;
      background-color: #2a7aae;
    }
    &.active {
      color: #fff;
      background-color: #2a7aae;
    }
  }
}

//Open modal button
.tableModalBtn {
  font-size: 13px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: 600;
  background: #3b95d0;
  color: #fff;
  padding: 5px 10px;
  transition: .4s all;
  &:hover, &:active {
    color: #fff;
    background: $color_TI_darker;
  }
}
.indicator-modal-button {
  border: none;
  color: #fff;
  background-color: #2a7aae;
  display: inline-block;
  margin: 5px 5px;
  padding: 5px 10px;
  border-radius: 2px;
  width: auto;
  max-width: 90%;
  font-size: 15px;
  font-weight: 700;
  //text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  transition: all .4s;
  &:hover {
    color: #fff;
    background-color: #2a7aae;
  }
}

/* DISCLAIMER MODAL */
#disclaimerModal {
  @media (min-width: 576px) {
    .modal-dialog {
      margin: 150px auto 80px auto;
      //margin: auto;
      max-width: 700px;
    }
  }
  .modal-header {
    border-radius: 0;
    background: #e51f5c;
  }
  .modal-content {
    border-radius: 0px;
    border: 0;
  }
  .modal-title {
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    text-align: center;
    width: 100%;
  }
  .modal-body {
    text-align: left;
    padding: 40px 10px;
  }
  .modal-mail-link {
    text-decoration: none;
  }
  .modal-mail-icon {
    vertical-align: middle;
    color: $color_TI;
    position: relative;
    top: -1px;
    font-size: 21px;
  }
}

/* DC legend vertical alignment fix */
.dc-legend{
  .dc-legend-item {
    rect  {
      y: -5px !important;
    }
  }
}

.lobbyists-expenses-message {
  padding: 30px 30px;
  text-align: left;
}

.footer-link {
  text-align: right;
  position: relative;
  padding: 10px 15px;
  a {
    text-decoration: underline;
    color: $color_TI_darker;
  }
}
.last-update {
  text-align: left;
  position: relative;
  padding: 10px 15px;
  font-style: italic;
}

.modal-dataupdate-date {
  font-style: italic;
}
.modal-newsletter {
  background: #f5f6f7;
  color: #000;
  padding: 15px;
  .modal-newsletter-title {
    color: $color_TI;
    font-weight: 700;
    font-size: 16px;
  }
  .modal-newsletter-text {
    margin: 10px 0;
    font-size: 15px;
  }
  .modal-newsletter-link {
    display: block;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background: #3b95d0;
    color: #fff;
    padding: 10px 15px;
    position: relative;
    top: 3px;
    transition: .4s all;
    text-decoration: none !important;
    &:hover, &:active {
      color: #fff;
      background: $color_TI_darker;
    }
  }

}

.update-date-tag {
  text-align: right;
  color: #666;
  font-style: italic;
  margin-top: 10px;
}

.hide-scrollbar {
	overflow: -moz-hidden-unscrollable;
  overflow: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-shadow {
  box-shadow: unset !important;
}
.hide-element {
  display: none !important;
}

.x-axis-label {
  font-size: 13px;
  position: relative;
  top: -25px;
  z-index: 1;
  height: 10px;
}

.image-credits {
  font-size: 14px;
  position: relative;
  top: 20px;
}

.y-axis-label {
  font-size: 13px;
}

/* DC legend vertical alignment fix */
.dc-legend{
  .dc-legend-item {
    rect  {
      y: -5px !important;
    }
    @supports (-moz-appearance:none) {
      rect  {
        y: 0px !important;
      }
    }
  }
}

/* CHARTS SHARE MODAL */
#chartShareModal {
  z-index: 100000;
  .modal-dialog {
    max-width: 100%;
    width: 700px;
  }
  .modal-title {
    font-weight: 600;
    font-size: 18px;
  }
  .copy-input-container {
    input {
      text-align: center;
      width: 540px;
      max-width: 90%;
      color: #555;
      border: none;
      border-radius: 3px;
      background: #eee;
      padding: 5px 10px;
      @media only screen and (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
    button {
      text-align: center;
      border: none;
      border-radius: 3px;
      background: #ef494a;
      padding: 5px 10px;
      color: #fff; 
      i {
        text-align: center;
        font-size: 15px;
        position: relative;
        top: 2px;
      }
    }
  }
  .chart-share-btn-container {
    margin: 20px auto;
  }
  .chart-img-preview {
    border: 2px solid #eee;
    padding: 10px;
    width: 300px;
    max-width: 90%;
    margin-bottom: 30px;
  }
}

.dc-chart .selected path, .dc-chart .selected circle {
    stroke-width: 2;
}

[v-cloak] { display:none; }